nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav ul li a {
    font-family: Space Mono;
    text-decoration: none;
    color: #333;
    position: relative;
    transition: color 0.3s ease-in-out; /* Transition for color change */
  }
  
  nav ul li a:hover {
    color: #000000;
    font-weight: 1000; /* Change color on hover */
  }
  
  nav ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #000000; /* Initial color for the border-bottom */
    transition: width 0.3s ease-in-out; /* Transition for width change */
  }
  
  nav ul li a:hover::after {
    width: 100%; /* Expand the border-bottom on hover */
  }
  

@media screen and (max-width:992px) {
    .line {
        display: none;
    }
}

@media screen and (min-width:992px) {
    .navbar-brand {
        display: none;
    }

    .navbar-nav {
        padding-left: 0px !important;
    }
}

nav {
    padding: 10px !important;
    background: linear-gradient(90deg, #3ec3ef, rgb(224, 73, 73), #3ec3ef);
}

@media screen and (min-width:321px) {
    .nav {
        padding: 5px !important;
    }
}
